
HF_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxx
HF_USERNAME=AmareshHebbar
HF_MODEL_NAME=querydecomp-qwen2.5-1.5b

WANDB_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxx

WANDB_ENTITY=amareshhebbar

WANDB_PROJECT=querydecomp

GITHUB_REPO=https://github.com/AmareshHebbar/AtomicRAG.git

RUNPOD_GPU_TIER=a5000

RUNPOD_HOURLY_RATE=0.22